export("baseCH", "frailty.fit", "print.extrafrail", "rWL",
       "summary.extrafrail")
S3method(summary, extrafrail)
S3method(print, extrafrail)
importFrom("stats", "integrate","model.frame","model.matrix",
		"coef","optim","rbinom","rgamma","pnorm")
importFrom("survival", "survreg", "coxph","basehaz","cluster")
importFrom("pracma", "hessian")
importFrom("expint", "expint_E1")
importFrom("msm", "dpexp", "ppexp")




